
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.audioStreaming">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true">
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.audioStreaming.Signal"
            android:enabled="true"
            android:theme="@android:style/Theme.NoTitleBar"
            android:stopWithTask="true">
            <intent-filter>
               <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
    </application>
</manifest>
  